<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <staticContent>
        <remove fileExtension=".wasm" />
        <remove fileExtension=".dll" />
        <remove fileExtension=".json" />
        <remove fileExtension=".br" />
        <remove fileExtension=".gz" />
        <remove fileExtension=".webmanifest" />
        <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        <mimeMap fileExtension=".br" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".gz" mimeType="application/octet-stream" />
      </staticContent>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\FlowtrixAI.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
